.VueCarousel-navigation-next {
  right: 0;
  transform: translateY(-50%) translateX(20%) !important;
}

.VueCarousel-navigation-prev[data-v-7fed18e9] {
  left: 0;
  transform: translateY(-50%) translateX(-20%)  !important;
}
.VueCarousel-slide {
  visibility: visible;
  flex-basis: 100%;
  width: 100%;
}