// Abstracts
@import "abstracts/variables";
@import "abstracts/mixin";
// Ipad And Phone
@import "phone/layout";
@import "ipad/layout";
// Svg Icon
@import "icon/svg";
// Lib
@import "utils/carousel";
@import "utils/bootstrap";
@import "utils/spinner";
@import "utils/videojs";
@import "utils/player";
// Import Tooltip Style
@import "utils/tooltip";
// Carousel Card
@import "components/home-carousel-card";
@import "components/search";
@import "components/cast";
@import "components/live-tv";
@import "components/settings";
@import "components/home-ghost";
@import "components/register";
@import "components/file-manager";
// Navbar Phone
@import "layout/navbar";
@import "layout/sidebar";
// RT:
@import "utils/rtl";

body {
  font-family: 'Mukta Malar', sans-serif;
  line-height: 1.3;
  color: $primary-color;
  background-color: $background-color;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                 supported by Chrome and Opera */
  overflow-x: hidden;
}

.default {
  padding: 0;
}

.grid {
  min-height: 75vh;
}

.xjkax {
  margin-top: 100px;
}

.xs221 {
  overflow-y: hidden;
}

/**
    Show
 */

.show_item {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  background-color: $background-color;
  z-index: 1;
  &__header {
    position: absolute;
    top: 0;
    left: 20px;
    width: 100%;
    padding-top: 10px !important;
    z-index: 1;
    .header__collection,
    .header__like {
      position: relative;
      top: 13px;
      cursor: pointer;
    }
    .header__collection p,
    .header__like p {
      float: right;
      position: relative;
      left: 5px;
      top: 2px;
      color: #fff;
      font-size: 13px;
    }
  }
  &__body {
    .body__background-sm-up {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: block;
      width: 100%;
    }
    .body__background-sm-down {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      display: block;
      width: 100%;
      max-height: 100%;
    }
    .body__background-sm-up::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgb(23, 21, 28);
      background: linear-gradient(to bottom, rgba(25, 25, 25, 0.4) 0%, rgba(25, 25, 25, 0.96) 83%, rgba(25, 25, 25, 1) 90%, rgba(25, 25, 25, 1) 100%);
    }
    .body__background-sm-down::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.4);
      background: linear-gradient(to bottom, rgba(25, 25, 25, 0.4) 0%, rgba(25, 25, 25, 0.96) 83%, rgba(25, 25, 25, 1) 90%, rgba(25, 25, 25, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
    }
    .body__background-sm-down .play {
      position: absolute;
      left: 50%;
      top: 60%;
      transform: translate(-50%, -50%);
    }
    .body__play-md-up {
      position: relative;
      top: 80px;
    }
    .body__soon-md-up {
      text-align: center;
      position: relative;
      top: 70px;
      font-size: 80px;
      left: 50px;
    }
    .body__soon-md-up h1 {
      font-size: 10vh;
    }
    .body__soon-sm {
      position: absolute;
      top: 120px;
      left: 50%;
      color: #fff;
      transform: translate(-50%);
    }
  }
  &__overview {
    color: #fff;
    font-size: 15px;
    z-index: 2;
    .poster {
      background-color: $background-color2;
    }

    .__title {
      p {
        word-break: break-all;
      }

      h5 {
        font-size: 40px;
      }
      h5 .age-rating {
        font-size: 25px;
        color: #f4037a;
        position: relative;
        top: -4px;
      }
      .year-genre .genre {
        font-size: 16px;
      }
      .year-genre .dot {
        color: #fff;
        margin: 10px;
      }
      .year-genre p {
        display: inline;
      }
    }

    .__more-details {
      font-size: 18px;

      .time .clock {
        position: relative;
        top: 5px;
      }
      .rate {
        position: relative;
        top: 5px;
      }
      .rate h1 {
        font-size: 50px;
        color: #03A9F4;
      }
      .rate small {
        font-size: 20px;
        color: #fff;
        position: relative;
        top: -12px;
        right: 7px;
      }
    }
    .__cast {
      display: inherit;

      .block {
        display: inline-block;
      }
      h3 {
        color: #fff;
        margin-left: 10px;
      }
      .image {
        position: relative;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        overflow: hidden;
        display: inline-block;
        background-color: $background-color2;
      }
      .image .ovarlay {
        position: absolute;
        top: 0;
        width: 70px;
        height: 70px;
        text-align: center;
        color: #fff;
        display: block;
        background-color: rgba(3, 169, 244, 0.65);
        border-radius: 50%;
      }
      .image .ovarlay p {
        position: relative;
        top: 34%;
        font-size: 10px;
      }
    }
    .similar {
      .image {
        background-color: $background-color2;
        cursor: pointer;
      }
    }
    .__btn-control {
      .btn-md-up {
        width: 200px;
      }
      .btn-primary,
      .btn-primary:hover,
      .btn-primary:focus,
      .btn-primary.focus {
        background-color: transparent;
        box-shadow: none;
        cursor: pointer;
      }
      .btn-play {
        background: #36D1DC;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #5B86E5, #36D1DC);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }
      .btn-trailer {
        border-color: #fff;
      }
    }
  }
  .season {
    background: $background-color;
    height: 100%;
    padding: 0;
    .season-list {
      background: $background-color;
    }
    .episode {

      .season-list {
        position: relative;
        left: 15px;
        margin-top: 20px;
        padding: 0;
        text-align: center;
        .season_number {
          width: 40px;
          height: 40px;
          border-radius: 100%;
          border: 2px solid rgba(158, 158, 158, 0.59);
          color: #9e9e9e;
          background: #000;
          cursor: pointer;
          margin-top: 5px;
          strong {
            position: relative;
            top: 10px;
          }
        }
        .active {
          width: 40px;
          height: 40px;
          border-radius: 100%;
          background: $border-blue;
          color: #ffff;
          cursor: pointer;
          border: none;
        }
      }
      .episode_contnet {
        box-shadow: 0px 1px 40px -8px #000;
        margin: 10px;
        &:hover {
          box-shadow: 0px 10px 40px -8px #000;
        }
        .backdrop {
          .details {
            color: $primary-color;
            padding: 20px;
            padding-left: 0;
            padding-top: 5px;
            h1 {
              color: $border-blue;
            }
            small {
              color: #b5b5b5;
              font-size: 15px;
            }
            .epsiode_name {
              position: relative;
              right: 5px;
              top: -3px;
              font-weight: bold;
              font-size: 19px;
              color: $primary-color;
            }
          }
        }
      }
    }

    .gradient {
      position: absolute;
      right: 0px;
      bottom: 0px;
      left: 0px;
      top: -250px;
      height: 250px;
      background: linear-gradient(rgba(73, 73, 73, 0) 0%, $background-color 80%);
    }
  }
  .spinner-load-show {
    position: relative !important;
  }

  .trailer {
    position: fixed;
    left: 0;
    top: -100%;
    z-index: 100000;
    transition: all 400ms ease-out;

    .exit {
      position: absolute;
      right: 30px;
      top: 10px;
      width: 30px;
      z-index: 1;
      cursor: pointer;
    }
  }

  .trailer.show {
    top: 100px;
  }
}

/**
    Tops Film
 */

.top-item {

  min-height: 450px;
  height: 75vh;
  margin-top: -100px;
  .VueCarousel-wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
    .VueCarousel-slide {
      height: 70vh;
    }
  }
  &__film-cover {
    max-height: 100%;
    position: relative;
    .backdrop {
      height: auto;
      width: 100%;
    }

  }
  &__film-ovarlay {
    position: absolute;
    bottom: 70px;
    width: 100%;
    z-index: 1;
    .poster {
      width: 100px;
      position: absolute;
      top: 6px;
    }
    .title {
      color: #fff;
      h2 {
        font-size: 60px;
      }
      small {
        font-size: 18px;
      }
    }
    .overview {
      font-size: 16px;
      width: 400px;
      color: #dcdcdc;
      margin-top: 3px;

    }
    .control,
    .overview,
    .title {
      position: relative;
      left: 120px;
    }

    .btn {
      box-shadow: none !important;
    }
  }
  &__film-details {
    position: absolute;
    bottom: 20%;
    left: 5%;
  }

  .gradient {
    position: absolute;
    right: 0px;
    bottom: 0;
    left: 0px;
    height: 250px;
    z-index: 1;
    background: linear-gradient(rgba(73, 73, 73, 0) 0%, $background-color 80%);
  }
}

.heading {
  width: 100%;
  padding: 0 5%;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}

.fade-enter,
.fade-leave-to
  /* .fade-leave-active below version 2.1.8 */

{
  opacity: 0;
}

.flip-enter-active {
  transition: all .1s cubic-bezier(.15, .07, .86, .88); //ease-in-quad
}

.flip-leave-active {
  transition: all .25s cubic-bezier(0.25, 0.46, 0.45, 0.94); //ease-out-quad
}

.flip-enter, .flip-leave-to {
  transform: translate(50px, 100px);
  opacity: 0;
}

img[alt]:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $background-color2;
  font-family: 'Helvetica';
  font-weight: 300;
  line-height: 2;
  text-align: center;
  content: attr(alt);
}

.loader-discover {
  position: absolute;
  right: 0;
  top: -40px;
}

.loader {
  position: absolute;
  right: 0;
  top: 0px;
}
